<html>
    <body>
        <div>
            <form action="/add_food" method="post">
                <label>Name:</label>
                <input id="ing_name" name="ing_name">
                <br>
                <label>Serving unit(gram, tsbp, tsp, cup, or mL please!):</label>
                <input id="ing_unit" name="ing_unit">
                <br>
                <label>Serving size:</label>
                <input type="number" step="any" id="ing_size" name="ing_size">
                <br>
                <label>Calories:</label>
                <input type="number" step="any" id="ing_calorie" name="ing_calorie">
                <br>
                <label>Fat:</label>
                <input type="number" step="any" id="ing_fat" name="ing_fat">
                <br>
                <label>Carb:</label>
                <input type="number" step="any" id="ing_carb" name="ing_carb">
                <br>
                <label>Protein:</label>
                <input type="number" step="any" id="ing_protein" name="ing_protein">
                <br>
                <label>Fiber:</label>
                <input type="number" step="any" id="ing_fiber" name="ing_fiber">
                <br>
                <input type="submit" name="action" value="Add Ingredient">
            </form>
        </div>
    </body>
</html>
