<html>
    <head>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body>
        <form action="/login/create_account" method="post">
            <label>Username:</label>
            <input id="username" name="user">
            <br>
            <label>Password:</label>
            <input id="password" name="pass">
            <br>
            <input type="submit" name="action" value="Create Account">
        </form>
    </body>
</html>
