<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body>
        <div style="margin: auto;width: 20%;text-align: center;min-width: auto;" class="alert alert-danger" id="warning_container">
            <% if(locals.warning_string){ %>
            <%= warning_string %>
            <% } %>
        </div>
        <script>
            if(<%= locals.warning_string === undefined %>){
                document.getElementById("warning_container").style.display = "none";
            }
        </script>
        <br>
        <div style="margin:auto; width:60%; text-align: center;">
            <form action="/login" method="post">
                <label>Username:</label>
                <input id="username" name="user">
                <br>
                <label>Password:</label>
                <input type="password" id="password" name="pass">
                <br>
                <input type="submit" name="action" value="Login">
            </form>
            <br>
            <a href="/login/create_account">
                No account? Create one here!
            </a>
        </div>
    </body>
</html>
